@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-surface-900 text-zinc-100 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
